@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.app-title {
  text-align: center;
  font-family: 'Squada One', sans-serif;
  font-size: 200px; /* Adjust size as needed */
  font-weight: bold;
  color: #59ffe9;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 10px 10px 0px #383fc2;
}

.HomeScreen {
  background-image: url('/Users/phuongpham/School/CSE 403/floor-it/frontend/src/assets/Blue Illustrated Trivia Quiz Presentation.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  background-color: #578fff;
}
