.avatar-screen {
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* Ensure it stays above other content */
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
